:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

/* .container {
  display: grid;
  grid-template-columns: 3fr 0.5px 1fr;
}

.grid {
  display: grid;
  place-items: center;
}

.separator {
  background-color: black;
}

h1 {
  font-size: 1.5rem;
} */
